html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5rem 4rem;
}

header {
    display: flex;
    border: 0.01rem solid lightgray;
    border-radius: 1rem;
    height: 30vh;
    margin: 1rem 0;
    background-image: url("./img/1994610.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: 100%;
    box-shadow: 0 0 1rem gray ;
}

header .profile {
    background-image: url("./img/profile-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    border: 0.2rem solid white;
    z-index: 1;
    box-shadow: 0 0 1rem gray ;
}

header .name {
    height: fit-content;
    width: 100%;
    text-align: right;
    color: #56588C;
    padding: 0 1.3rem;
    font-size: 1rem;
}

header .nav {
    min-height: 2rem;
    width: 100%;
    background-color: white;
    opacity: 95%;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

header .nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

header .nav ul li{
    margin: 0 1rem;
    flex-wrap: wrap;
}

header .nav ul li a {
    display: flex;
    text-decoration: none;
    color: #18568C;
    align-items: center;
    border-bottom: 0.1rem solid transparent;
    transition: border-bottom 0.5s ease-in-out;
}

header .nav ul li a.active {
    border-bottom: 0.1rem solid #F27D16;
}

header .nav ul li a:hover {
    border-bottom: 0.1rem solid #F27D16;
}

main {
    border: 0.01rem solid lightgray;
    border-radius: 0.5rem;
    height: 55vh;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    box-shadow: 0 0 1rem lightgray ;
    padding: 0 2.5rem;
    text-align: justify;
    line-height: 1.5;
    overflow-y: auto;
}

main h1 {
    font-size: 2rem;
    color: #18568C;
}

main section {
    margin: 0 1rem;
    display: none;
}

main section.active {
    display: block;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 0.5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

main section .illustrator {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main section .illustrator .item {
    width: 20%;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem lightgray ;
    padding: 0.2rem;
    text-align: center;
    margin: 0.5rem;
}

main section .illustrator .item p {
    color: #F27D16;
}

main section .illustrator .item span {
    font-size: 3rem;
    color: #56588C;
}

main section .illustrator .item h4 {
    color: #56588C;
}

main section article.work_history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid lightgray;
    margin-bottom: 1%;
    text-align: left;
    color: #656B8C;
}

main section article.work_history img {
    height: 2.5rem;
    width: 3.5rem;
    border-radius: 0.2rem;
    border-collapse: separate;
}

main section article.work_history .company {
    width: 6%;
    height: fit-content;
    display: flex;
    align-items: center;
}

main section article.work_history .position {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
}

main section article.work_history .period {
    width: 20%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section article.work_history .location {
    width: 20%;
    height: fit-content;
    display: flex;
    align-items: center;
}

main section article.Edu_history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid lightgray;
    margin-bottom: 1%;
    text-align: left;
    color: #656B8C;
}

main section article.Edu_history .period {
    width: 15%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;
}

main section article.Edu_history .degree {
    width: 58%;
    height: fit-content;
    display: flex;
    align-items: center;
}

main section article.Edu_history .university {
    width: 25%;
    height: fit-content;
    display: flex;
    align-items: center;
}

main section .fontawesome {
    display: flex;
    flex-wrap: wrap;
}

main section .fontawesome .fontawesome_icon {
    margin: 1rem;
    cursor: pointer;
    width: 5%;
}

main section .fontawesome .fontawesome_icon i {
    font-size: 3rem;
}

footer {
    border: 0.01rem solid lightgray;
    border-radius: 0.5rem;
    height: 7vh;
    display: flex;
    margin: 0.5rem 0;
    box-shadow: 0 0 1rem lightgray ;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .address {
    width: 30%;
    display: flex;
    height: 2.3rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    padding-left: 1rem;
    color: #0D0E26;
}

footer .copyright {
    width: 30%;
    display: flex;
    height: 2.3rem;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: #0D0E26;
}

footer .social-media {
    width: 30%;
    display: flex;
    height: 2.1rem;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

footer .social-media a {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    width: 1.2rem;
    margin-right: 0.7rem;;
    text-align: center;
    color: white;
}

footer .social-media .fa-facebook {
    background: #3B5998;
}

footer .social-media .fa-linkedin {
    background: #007bb5;
}

footer .social-media .fa-google {
    background: #dd4b39;
}

footer .social-media .fa-yahoo {
    background: #430297;
}

footer .social-media .fa-skype {
    background: #00aff0;
}

@media only screen and (max-width:1250px){

    html {
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0.5rem 1rem;
    }
    

    header .nav {
        min-height: 2rem;
        width: 100%;
        background-color: white;
        opacity: 95%;
        position: absolute;
        left: 0rem;
        bottom: 0rem;
        border-radius: 0rem 0rem 1rem 1rem;
        display: flex;
        justify-content: flex-end;
    }

    header .profile {
        background-image: url("./img/profile-4.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 3.5rem;
        left: 1.5rem;
        border: 0.2rem solid white;
        z-index: 1;
        box-shadow: 0 0 1rem gray ;
    }

    header .name {
        height: fit-content;
        width: 100%;
        text-align: right;
        color: #56588C;
        padding: 0 1.3rem;
        font-size: 1rem;
    }

    header .nav ul {
        list-style-type: none;
        padding: 0 1rem;
        flex-wrap: wrap;
        border-collapse: separate;
    }

    main h1 {
        font-size: 1.5rem;
        color: #18568C;
    }

    main section .illustrator {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    main section .illustrator .item {
        min-width: 10rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 2rem lightgray ;
        padding: 0.2rem;
        text-align: center;
        margin: 0.5rem;
    }
    
    main section .illustrator .item p {
        color: #F27D16;
    }
    
    main section .illustrator .item span {
        font-size: 2rem;
        color: #56588C;
    }
    
    main section .illustrator .item h4 {
        color: #56588C;
        font-size: 1rem;
    }

}

@media only screen and (max-width:900px){
    main section article.work_history {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 0.01rem solid lightgray;
        margin-bottom: 2%;
        text-align: left;
    }

    main section article.work_history img {
        height: 1.5rem;
        width: 2.5rem;
        border-radius: 0.2rem;
        border-collapse: separate;
    }

    main section article.work_history h3 {
        font-size: 1rem;
    }

    main section article.work_history .period {

        display: none;
    }

    main section article.work_history .location {

        display: none;
    }

    main section article.work_history .company {

        width: 20%;
        margin-right: 0.3%;
        margin-bottom: 0.3%;
        display: flex;
        align-items: center;
    }
    
    main section article.work_history .position {

        width: 70%;
    }

    footer .address {
        display: none;
    }
    
    footer .copyright {
        display: none;
    }
    
    footer .social-media {
        width: 100%;
        justify-content: center;
    }

    main section .fontawesome .fontawesome_icon i {
        font-size: 2rem;
    }

    main section article.Edu_history .period {
        display: none;
    }
    
    main section article.Edu_history .degree {
        width: 55%;
    }
    
    main section article.Edu_history .university {
        width: 45%;
    }
}